<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>О фильме</title>
</head>

<body>
<div layout:fragment="content">
    <h1></h1>
    <div class="d-flex justify-content-center" style="margin-top: 50px;">
    <div class="card mt-5 mb-3" style="border-radius: 15px; background-color: #F6F9F9; width:699px;
        min-height:auto; padding:20px">
        <div class="row g-0">
            <div class="col-md-3 my-2">
                <img th:if="${film?.posterFileName != null}" style= "border-radius: 15px" th:src="'/posters/' + ${film.posterFileName}" class="img-fluid rounded-start ms-2" alt="">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h4 class="card-title mt-3 mb-4" th:text="${film.title}"></h4>
                    <p class="card-text"><span class="text-muted" style="font-weight: bold; color: #747474">Жанр: </span><span style="color:black" th:text="${film.genre.text}"></span>
                        <span  th:if="${film.ratingKp != null}" style="float: right" ></span>
                    </p>
                    <p class="card-text"><span class="text-muted" style="font-weight: bold; color: #747474">Год выхода: </span><span style="color:black" th:text="${film.releaseYear}"></span></p>
                    <p class="card-text mb-4"><span class="text-muted" style="font-weight: bold; color: #747474">Страна производства: </span><span style="color:black" th:text="${film.country.text}"></span></p>
                    <p class="card-text" th:each="filmCreator : ${film.filmCreators}">
                        <span  th:text="'Режиссеры: ' + ${filmCreator.fullName}"></span>
                    </p>
                    <p class="card-text mt-5" style="font-weight: bold; color: #black" th:text="${film.description}"></p>
                </div>
                <div class="row my-3 mx-4" sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))">
                    <a class="btn btn-outline-dark" th:href="'/films/update/' + ${film.id}" role="button" style="background-color: #323844; border-radius: 10px; color: white; font-weight: bold">
                        Редактировать фильм
                    </a>
                </div>
            </div>
        </div>
    </div>
        </div>


    <hr class="hr"/>

    <h3 class="mt-3 mb-3">Сеансы:</h3>
    <table class="table table-hover mt-3">
        <thead>
        <tr>
            <th scope="col">Дата:</th>
            <th scope="col">Время:</th>
            <th scope="col">Цена билета:</th>
            <th scope="col">Номер зала</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="filmSession : ${film.filmSessions}">
            <td th:text="${#temporals.format(filmSession.startDate, 'dd.MM.yyyy')}"></td>
            <td sec:authorize="!isAuthenticated() ||
                (isAuthenticated() && hasRole(T(com.example.cinema.constants.UserRolesConstants).USER))">
                <a class="text-link text-blue"
                   th:href="@{/seats/selectSeat(filmSessionId=${filmSession.id})}"
                   th:text="${filmSession.startTime}"
                style="color:black"></a>
            </td>
            <td sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))"
                th:text="${filmSession.startTime}"></td>
            <td th:text="${filmSession.price}"></td>
            <td th:text = "${filmSession.hallId}"></td>
            <td sec:authorize="  (isAuthenticated() && hasRole(T(com.example.cinema.constants.UserRolesConstants).USER))">
                <a class="btn btn-sm btn-outline-success"  th:href="@{/seats/selectSeat(filmSessionId=${filmSession.id})}"
                   style="float: right; margin-left: 20px; outline:none;background-color: #C78EFF; color: #ffff; border-radius: 10px;">
                    Купить билет</a>
            </td>
            <td sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))">
                <a class="btn btn-sm btn-outline-success" th:href="'/filmSessions/update/' + ${filmSession.getId()}"
                   style="float: right; margin-left: 20px; outline:none;background-color: #323844; color: #ffff; border-radius: 10px; border:none;">Редактировать</a>
                <a th:if="${!filmSession.isDeleted()}" class="btn btn-sm btn-outline-danger" th:href="'/filmSessions/delete/' + ${filmSession.getId()}"
                   onclick="return confirm('Вы действительно хотите удалить сеанс?');" style="float: right">Удалить</a>
                <a th:if="${filmSession.isDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/filmSessions/restore/' + ${filmSession.getId()}" style="float: right">Восстановить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--        <hr class="mt-3 hr"/>-->

    <form class="needs-validation" method="POST" th:action="@{/filmSessions/add}" th:object="${filmSessionForm}"
          sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))">
        <input type="hidden" name="filmId" th:value="${film.id}">
        <div class="col-md-2" >
            <h5 class="ms-2">Добавить сеанс:</h5>
        </div>
        <div class="mt-3 row g-2 align-items-center">

            <div class="col-md">
                <div class="form-floating">
                    <input name="startDate" type="date" class="form-control"  th:min="${minDate}" id="startDate" required>
                    <label for="startDate">Дата</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="startTime" type="time" class="form-control" id="startTime"
                           th:attr="min=${minTime}, max=${maxTime}"  required>
                    <label for="startTime">Время</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="price" type="number" min="200" max="1000" class="form-control" id="price" required>
                    <label for="price">Цена</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="hallId" class="form-select" id="hallSelect" th:field="*{hallId}" required>
                        <option th:each="hall : ${halls}"
                                th:value="${hall.id}"
                                th:text="${hall.id} + ' (' + ${hall.hallType} + ')' + ' - ' + ${hall.countRow} + ' рядов, ' + ${hall.countPlace} + ' мест'">
                        </option>
                    </select>
                    <label for="hallSelect">Зал</label>
                </div>
            </div>
        </div>
        <div class="mt-2 row g-2">
            <button type="submit" class="btn btn-secondary" style="background-color:#C78EFF; border:none; border-radius: 10px">Добавить сеанс</button>
        </div>
    </form>

    <button type="button" class="btn btn-secondary" onclick="window.history.back()" style="background-color:#323844; color:#ffff; width: 1290px; margin-top: 20px; border-radius: 10px">Назад</button>
    <div>
    </div>


</div>
</body>

</html>
