<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <title>Изменение профиля</title>
</head>

<body>
<div layout:fragment="content">
  <h1>Редактировать профиль</h1>
  <form method="POST" th:action="@{/users/profile/update}" th:object="${userForm}" style="margin: 50px; background-color: #323844">
    <input type="hidden" name="id" th:value="${user.id}">
    <div class="row">
      <div class="col-auto mb-3">
        <label for="login" class="form-label">Логин</label>
        <input th:value="${user.login}" name="login" type="text" class="form-control" id="login" required>
      </div>
      <div class="col-auto mb-3">
        <label for="email" class="form-label">Почта</label>
        <input th:value="${user.email}" name="email" type="email" class="form-control" id="email" required>
      </div>
    </div>

    <div class="row">
      <div class="col-auto mb-3">
        <label for="firstName" class="form-label">Имя</label>
        <input th:value="${user.firstName}" name="firstName" type="text" class="form-control" id="firstName" required>
      </div>
      <div class="col-auto mb-3">
        <label for="lastName" class="form-label">Фамилия</label>
        <input th:value="${user.lastName}" name="lastName" type="text" class="form-control" id="lastName" required>
      </div>
    </div>


    <button type="submit" class="btn btn-primary" style ="background-color: #E2E5FF; color: #323844; border:none;border-radius:10px">Сохранить</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()" style ="background-color: transparent; color: #ffff;  outline: 3px solid #ffffff; border-radius:10px">Закрыть</button>
  </form>


</div>
</body>

</html>
