<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <title>Сообщение о дублировании</title>
  <style>
    .container{
   min-width:auto;
   min-height:auto;
   border-radius:15px;
   padding:20px;
   background-color: #ffff;
   color:white;
   margin:70px;
   margin-top:100px;

   text-align: center;
   }
  </style>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <a style="color:black; font-size: 34px;">Возникла ошибка! Вы попытались добавить запись, которая уже существует.</a>
  </div>
  <button type="button" class="btn btn-secondary" onclick="window.history.back()"
          style="background-color:#323844; color:#ffff; width: 1290px; margin-top: 20px; border-radius: 10px">
    Назад</button>
</div>
</body>
</html>